@import "tailwindcss";
@import "./styles/theme.css";

@layer base {
  html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-color: unset;
  }

  body {
    margin: 0;
    line-height: 1.25;
  }
}

@layer components {
  /* Border Styles */
  .border,
  .border-r,
  .border-l,
  .border-t,
  .border-b,
  .border-x,
  .border-y {
    border-color: var(--border);
  }

  /* Code Block Styles */
  pre,
  code {
    background-color: var(--vscode-textCodeBlock-background);
  }

  /* Scrollable Areas */
  body.scrollable,
  .scrollable,
  body.code-block-scrollable,
  .code-block-scrollable {
    border-color: transparent;
    transition: border-color 0.7s linear;
  }

  .scrollable::-webkit-scrollbar-corner {
    background-color: transparent !important;
  }

  /* Code Block Scrollbar */
  .code-block-scrollable::-webkit-scrollbar-track {
    background: transparent;
  }

  .code-block-scrollable::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

/* Fix dropdown double scrollbar overflow */
#api-provider > div > ul {
  overflow: unset;
}
